body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100vh;
}
.header{
    width: 100%;
    height: 14%;
    background-color: rgb(84, 148, 225);
}
.header_link{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}
.logo{
    margin: 50px;
}
.title{
    color: rgba(255, 255, 255, 0.815);
    margin: 0px 50px;
    font-size: 350%;
}
.main{
    width: 100%;
    height: 70%;
}
.main_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text_main{
    font-size: 190%;
}
.button{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
    background-color: rgb(84, 148, 225);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    font-size: 110%;
}
.footer{
    background-color: rgb(84, 148, 225);
    width: 100%;
    height: 12%;
}
.footer_div{
    padding: 30px;
    margin: 30px;
}
.social_media{
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}